@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.container {
    padding: 50px 0;
}

.section__title {
    margin-bottom: 20px;
}

.text-purple {
    color: #6030b1
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.background__python {
    background-color: #f8f8f8;
}

/* NAVIGATION BAR */

nav {
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
    list-style: none;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #6030b1;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
    background-color: #5d3eff;
}

.personal__logo {
    font-size: 24px;
    color: #6030b1;
    margin: 0 12px;
    font-weight: bold;
}

/* 

ABOUT ME

*/

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.about-me__picture {
    width: 100%;
    position: absolute;
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    margin-bottom: 28px;
}

.about-me__info--title {
    margin-bottom: 8px;
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
    text-align: center;
}

.about-me__link {
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img {
    width: 100%;
    margin-top: 24px;
}

/* TECH - STACK */

.project {
    margin-bottom: 135px;
}

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.language__img:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.language__list {
    display: flex;
    width: 100%;
}

.language__name {
    margin-top: 12px;
    font-weight: 700;
    transform: scale(0);
    transition: all 300ms ease;
    opacity: 0;
}

.language:hover .language__name {
    transform: scale(1);
    opacity: 1;
}

/* Projects Section */

.project__img {
    width: 100%;
    transition: all 500ms ease;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}

.project:hover .project__wrapper:before {
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__list {
    padding-top: 40px;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project__description--title {
    font-size: 40px;
    padding-bottom: 4px;
}

.project__description--para {
    margin: 16px 0;
}

.project__description--link {
    font-size: 20px;
    margin-right: 8px;
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
    text-align: left;
    color: #fff
}